@import url('https://rsms.me/inter/inter-ui.css');
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,600,900");
@import "node_modules/spectre.css/src/spectre";

* {
  font-family: 'HK Grotesk', sans-serif;
}

$mobile: 640px; 
$tablet: 768px;
$desktop: 1024px !default;

body {
  background-color: #000;
}

.content {
  margin: 15px 25px;
  padding: 5px;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); 

  @media(max-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

.inside-content {
  background-color: #000;
  padding: 15px 25px;
}

.logo {
  height: 50px;
}

.card-title, h1, h2, h3, h4, h5 {
  font-weight: 800;
}

.card {
  box-shadow: 0 2px 2px #b4bdd3;
}

.background {
  padding-top: 10px;

  color: #fff;
  a{
    color: #fff;
  }
  .navbar {
    padding-bottom: 10px;

    span.brand {
      font-weight: 900;
      font-size: 20px;
    }
    .btn-link {
      color: #fff;
    }
    .btn-link:hover{
      color: #ff3706;
    }
  }
}

.under-background {
  margin-top: 20px;
  padding-bottom: 30px;

  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
}

.hero {

  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }

  p>a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
  }

  max-width: 60%;
  margin: 12vh auto;

  @media (max-width: $mobile) {
    h1 {
      font-size: 42px;
    }
    font-size: 14px;
    max-width: 95%;
    margin-top: 7vh;

    p {
      font-size: 20px;
    }
  }
}